
<div class="container">
  <header class="logo">
      <%= image_tag  "listing/logo"%>
  </header>
  <header class="logo2">
      <%= image_tag  "listing/img2"%>
  </header>

  <main class="main">
    <h2 class="title">Hola propietario Apellido,</h2>
    <p class="text">
      <span>¿Recuerdas el registro que iniciaste para poner en renta tu propiedad con nosotros?</span>
      <span> <a href="http://www.google.com" class='link'>Continúa el proceso</a> y disfruta de todo lo que te ofrecemos. En Homie queremos que rentes tu</span>
      <span> inmueble en el menor tiempo posible, por ello también publicamos tu anuncio en:</span>
    </p>
  </main>

  <div class="lamudi-m3">
    <%= image_tag  "listing/lamudi", class: 'lamudi-img' %>
    <%= image_tag  "listing/metroscubicos", class: 'metroscubicos-img' %>
  </div>

  <div class="inmuebles24-clist">
    <%= image_tag  "listing/inmuebles24", class: 'inmuebles24-img' %>
    <%= image_tag  "listing/craigslist", class: 'craigslist-img' %>
  </div>

  <div class="gq-prop-ml">
    <%= image_tag  "listing/gqplaceit", class: 'gqplaceit-img' %>
    <%= image_tag  "listing/propiedades", class: 'propiedades-img' %>
    <%= image_tag  "listing/mercadolibre", class: 'mercadolibre-img' %>
  </div>

  <div class="button">
    <p class="text">
      así como en anuncios destacados dentro de Facebook y Google,<br>
      todo esto sin costo y sin pedirte exclusividad. ¡No dejes pasar la oportunidad!
    </p>
    <button class="continue-button">Continua tu registro ahora</button>
  </div>
</div>